body {
    background-color: beige;
    margin-left: 0
}

h1 {
    text-align: center
}

.a {
    font-size: 3.5vw;

}

.b {
    font-size: 5vw;
    background-color: beige;
    margin-left: 0
}

div.b > p {
    font-family: Courier New;
    margin-left: 20px
}

@media only screen and (min-width:635px) {
    body {
        font-size: 2vw
    }
}

@media only screen and (min-width:765px) {
    .a {
        font-size: 2vw
    }
    .b {
        font-size: 2.5vw;
    }
}

@media only screen and (min-width:1200px) {
    .a {
        font-size: 1.45vw
    }
    .b {
        font-size: 1.85vw;
    }
}

@media only screen and (min-width:1600px) {
    .a {
        font-size: 1.55vw
    }
    .b {
        font-size: 1.95vw;
    }
}

ul {
    list-style-type: square
}

.c {
    width: 200%;
    text-align: center;
    border: none;
    height: 1px;
    color: black;
    background-color: black
}

.Home {
    color: black
}

.United {
    color: red
}

.City {
    color: deepskyblue
}

.Chelsea {
    color: blue
}

.Liverpool {
    color: crimson
}

.Barcelona {
    color: #6a00e5
}

.Real {
    color: #006ebf
}
