h1 {
    text-align: center
}

div.b > p {
    font-family: Courier New;
    margin-left: 1vw;
    margin-top: 0vw;
    font-size: 4.5vw;
    text-align: center
}

@media only screen and (min-width:500px) {
    div.b > p {
        margin-bottom: 0.9vw;
        font-size: 3.85vw;
    }
}

@media only screen and (min-width:700px) {
    div.b > p {
        margin-bottom: 0.8vw;
        font-size: 2.95vw;
    }
}

@media only screen and (min-width:1000px) {
    div.b > p {
        margin-bottom: 0.7vw;
        font-size: 2.4vw;
    }
}

@media only screen and (min-width:1600px) {
    div.b > p {
        margin-bottom: 0.7vw;
        font-size: 2.25vw;
    }
}

ul {
    list-style-type: square;
    display: inline-block;
    text-align: left
}

section {
    text-align: center
}

.Home {
    color: black
}

.United {
    color: red
}

.City {
    color: deepskyblue
}

.Chelsea {
    color: blue
}

.Liverpool {
    color: crimson
}

.Arsenal {
    color: darkred
}

.Barcelona {
    color: #6900e3
}

.Real {
    color: #0061a9
}
